In [12]:
import pandas as pd
df = pd.read_csv('cthall_no_covid.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682323 entries, 0 to 682322
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        682323 non-null  int64
 1   tran_date         682323 non-null  int64
 2   tran_time         682323 non-null  int64
 3   play_date         682323 non-null  int64
 4   seat              682323 non-null  object
 5   price             682323 non-null  int64
 6   performance_code  682323 non-null  int64
 7   pre_open_date     420761 non-null  float64
 8   open_date         682323 non-null  float64
 9   genre             666398 non-null  object
 10  running_time      682323 non-null  int64
 11  member_yn         682323 non-null  object
 12  time              682323 non-null  object
 13  floor             682323 non-null  object
 14  zone              682323 non-null  object
 15  col               682323 non-null  object
 16  ori_price         682323 non-null  float64
 17  date_diff         682323 non-null  float64
 18  covid_sep         682323 non-null  float64
dtypes: float64(5), int64(7), object(7)
memory usage: 98.9+ MB

In [3]:
cthall.columns

Index(['Unnamed: 0', 'tran_date', 'tran_time', 'play_date', 'seat', 'price',
       'performance_code', 'pre_open_date', 'open_date', 'genre',
       'running_time', 'member_yn', 'time', 'floor', 'zone', 'col',
       'ori_price', 'date_diff', 'covid_sep'],
      dtype='object')

In [14]:
df_group = df.groupby(['performance_code','play_date'],as_index=False).agg({'floor' : 'count',
                                                     'ori_price':'sum',
                                                                     'price':'sum'})
df_group.rename(columns = {'floor' : 'cus_count',
                    'ori_price' : 'total_price'},inplace=True)
pd.options.display.float_format = '{:.2f}'.format

In [16]:
df_group

     performance_code  play_date  cus_count  total_price      price
0                   1   20230426        870   1632727.27    1323000
1                   7   20190830       2110    557272.73     429000
2                  23   20191025        943  21093827.75   20695000
3                  29   20190822       1868         0.00          0
4                  29   20190823       1802         0.00          0
..                ...        ...        ...          ...        ...
490              2903   20221008       1167   1204545.45     927000
491              2920   20190117        915  35643636.36   24706000
492              2932   20191225         69   1913636.36    1810000
493              2936   20220710        685  45373684.21   47134000
494              2938   20230607       1766 169577177.03  163386000

[495 rows x 5 columns]

In [18]:
df['play_date'].describe()

count     682323.00
mean    20209741.81
std        17352.84
min     20181125.00
25%     20190821.00
50%     20220611.00
75%     20221229.00
max     20230707.00
Name: play_date, dtype: float64