In [1]:
import warnings 
warnings.filterwarnings('ignore')

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv("bigcontest.csv")
df= data.copy() #원본 둔 채 copydata 생성

In [47]:
cthall = df[ df['place'] == '콘서트홀' ]
cthall # concerthall 에서 한 공연만 가지고 dataframe 생성

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y
5,30.0,F,블루,무료,NaN,NaN,NaN,NaN,20181124,1145,...,2,블루회원 할인20%,528,20181119.0,20181119.0,교향곡,콘서트홀,100,15,Y
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920853,60.0,F,무료,그린,NaN,NaN,NaN,NaN,20210618,1509,...,2,일반,887,20210618.0,20210620.0,교향곡,콘서트홀,110,20,Y
1920855,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20230522,1729,...,0,일반,2825,20230505.0,20230507.0,교향곡,콘서트홀,120,15,Y
1920856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20201009,1652,...,0,초대권,77,NaN,20200920.0,클래식,콘서트홀,120,15,N
1920858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200726,1655,...,0,기획사판매,850,20200719.0,20200720.0,합창,콘서트홀,110,15,N
1920864,20.0,F,무료,싹틔우미,NaN,NaN,NaN,NaN,20221224,1223,...,0,청소년(만7세~만24세/본인만)30%,313,NaN,20221223.0,교향곡,콘서트홀,120,0,Y

In [48]:
cthall_unique = cthall[ (cthall['ticket_cancel']==2) | (cthall['price']==0) ]

In [49]:
cthall = cthall[cthall['ticket_cancel']==0]
cthall.shape

(864120, 24)

In [50]:
cthall

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N
9,NaN,F,블루,무료,NaN,NaN,NaN,NaN,20190703,908,...,0,일반,1528,NaN,20190413.0,클래식,콘서트홀,100,15,N
11,50.0,F,무료,NaN,NaN,NaN,NaN,NaN,20191005,1417,...,0,K-lang 멤버십 회원(1인2매)20%,315,NaN,20191005.0,오페라,콘서트홀,120,15,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190503,1659,...,0,초대권,2253,20190519.0,20190519.0,클래식,콘서트홀,120,15,N
1920855,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20230522,1729,...,0,일반,2825,20230505.0,20230507.0,교향곡,콘서트홀,120,15,Y
1920856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20201009,1652,...,0,초대권,77,NaN,20200920.0,클래식,콘서트홀,120,15,N
1920858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200726,1655,...,0,기획사판매,850,20200719.0,20200720.0,합창,콘서트홀,110,15,N
1920864,20.0,F,무료,싹틔우미,NaN,NaN,NaN,NaN,20221224,1223,...,0,청소년(만7세~만24세/본인만)30%,313,NaN,20221223.0,교향곡,콘서트홀,120,0,Y

In [51]:
# cthall = cthall[ cthall['price'] !=0 ]
# cthall.shape

In [52]:
cthall

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N
9,NaN,F,블루,무료,NaN,NaN,NaN,NaN,20190703,908,...,0,일반,1528,NaN,20190413.0,클래식,콘서트홀,100,15,N
11,50.0,F,무료,NaN,NaN,NaN,NaN,NaN,20191005,1417,...,0,K-lang 멤버십 회원(1인2매)20%,315,NaN,20191005.0,오페라,콘서트홀,120,15,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190503,1659,...,0,초대권,2253,20190519.0,20190519.0,클래식,콘서트홀,120,15,N
1920855,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20230522,1729,...,0,일반,2825,20230505.0,20230507.0,교향곡,콘서트홀,120,15,Y
1920856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20201009,1652,...,0,초대권,77,NaN,20200920.0,클래식,콘서트홀,120,15,N
1920858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200726,1655,...,0,기획사판매,850,20200719.0,20200720.0,합창,콘서트홀,110,15,N
1920864,20.0,F,무료,싹틔우미,NaN,NaN,NaN,NaN,20221224,1223,...,0,청소년(만7세~만24세/본인만)30%,313,NaN,20221223.0,교향곡,콘서트홀,120,0,Y

In [53]:
#공연시작시간cthall['time'] = 'morning'
cthall['time'] = 'morning'
cthall.loc[cthall['tran_time']>=1200,'time'] = 'afternoon'
cthall.loc[cthall['tran_time']>=1800,'time'] = 'evening'

In [54]:
cthall['floor'] = cthall['seat'].str.split(' ').str[0]
cthall['zone'] = cthall['seat'].str.split(' ').str[1].str[:3]
cthall['col'] = cthall['seat'].str.split(' ').str[1].str[3:]

In [55]:
# discount_type 전처리
#새로운 column
# - column명 : discount
# - %앞의 숫자 : %앞의 수
# - 2+1 : -21
# - 결츨값 : -10
cthall['discount'] = cthall['discount_type'].str.extract('([0-9]+)\%')

cthall.loc[(~cthall['discount_type'].str.contains('%')) & (cthall['discount_type'].str.contains('특별할인')) & \
           (~(cthall['discount_type'].str.contains('기획사'))),'discount'] = -21

cthall['discount'] = cthall['discount'].fillna('-10')

In [56]:
# discount를 사용하여 원가격복구
# - discount가 숫자
#   - 역수를 사용하여 원가격으로 복구
# - discount가 투플원
#   - 기존가격의 2/3 
cthall[cthall['discount']==-21][['performance_code','discount','price']].sort_values(['performance_code','price'])

         performance_code discount  price
84003                1283      -21  25000
104192               1283      -21  25000
263957               1283      -21  25000
733908               1283      -21  25000
818118               1283      -21  25000
1014441              1283      -21  25000
1328036              1283      -21  25000
1544147              1283      -21  25000
1546098              1283      -21  25000
1705943              1283      -21  25000
1731620              1283      -21  25000
1869452              1283      -21  25000
256113               1283      -21  40000
560839               1283      -21  40000
586267               1283      -21  40000
609560               1283      -21  40000
753183               1283      -21  40000
1061288              1283      -21  40000
1398324              1283      -21  40000
1518512              1283      -21  40000
1631046              1283      -21  40000
134162               1284      -21  40000
718438               1284      -21  40000
1812714              1284      -21  40000
1620285              1285      -21  25000
1833029              1285      -21  25000
1874601              1285      -21  25000
784808               1286      -21  25000
805119               1286      -21  25000
1280837              1286      -21  25000
259426               1286      -21  40000
583428               1286      -21  40000
1526052              1286      -21  40000

In [57]:
#discoount 정수형으로 변경
cthall['discount'].astype(int)

4         -10
6         -10
7         -10
9         -10
11         20
           ..
1920852   -10
1920855   -10
1920856   -10
1920858   -10
1920864    30
Name: discount, Length: 864120, dtype: int32

In [58]:
# 원가격 복구를 위한 함수
from fractions import Fraction # 분수 표현식
import numpy as np
def ori_price(df):
    if df["discount"] == -10:
        return df['price']
    elif df["discount"] == -21:
        return df['price'] * float(Fraction(2, 3))
    else:
        return df['price'] *np.reciprocal(1-(int(df["discount"])/100))

In [59]:
#원가격복구
cthall['ori_price'] = cthall.apply(ori_price , axis=1)

In [60]:
cthall.info()

<class 'pandas.core.frame.DataFrame'>
Index: 864120 entries, 4 to 1920864
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age                289698 non-null  float64
 1   gender             290011 non-null  object
 2   membership_type_1  290011 non-null  object
 3   membership_type_2  224112 non-null  object
 4   membership_type_3  73416 non-null   object
 5   membership_type_4  11865 non-null   object
 6   membership_type_5  540 non-null     object
 7   membership_type_6  0 non-null       float64
 8   tran_date          864120 non-null  int64
 9   tran_time          864120 non-null  int64
 10  play_date          864120 non-null  int64
 11  play_st_time       864120 non-null  int64
 12  seat               864120 non-null  object
 13  price              864120 non-null  int64
 14  ticket_cancel      864120 non-null  int64
 15  discount_type      864120 non-null  object
 16  performance_code   864120 non-null  int64
 17  pre_open_date      541247 non-null  float64
 18  open_date          864120 non-null  float64
 19  genre              843988 non-null  object
 20  place              864120 non-null  object
 21  running_time       864120 non-null  int64
 22  intermission       864120 non-null  int64
 23  member_yn          864120 non-null  object
 24  time               864120 non-null  object
 25  floor              864120 non-null  object
 26  zone               864120 non-null  object
 27  col                864120 non-null  object
 28  discount           864120 non-null  object
 29  ori_price          864120 non-null  float64
dtypes: float64(5), int64(9), object(16)
memory usage: 204.4+ MB

In [61]:
# datediff 생성
cthall['tran_date'] = pd.to_datetime(cthall['tran_date'],format='%Y%m%d')
cthall['pre_open_date'] = pd.to_datetime(cthall['pre_open_date'],format='%Y%m%d')
cthall['open_date'] = pd.to_datetime(cthall['open_date'],format='%Y%m%d')

def date_chage(df):
    if df['pre_open_date']:
        return df['tran_date'] - df['pre_open_date']
    else:
        return df['tran_date'] - df['open_date']


cthall['date_diff'] = cthall.apply(date_chage,axis=1)

cthall['date_diff'] = cthall['date_diff'].dt.days
cthall['date_diff']
# cthall['date_diff'] = cthall['tran_date'] - cthall['pre_open_date']
# cthall['date_diff'].fillna( (cthall['tran_date'] - cthall['open_date'] ), inplace=True )

4          28.0
6           NaN
7          11.0
9           NaN
11          NaN
           ...
1920852   -16.0
1920855    17.0
1920856     NaN
1920858     7.0
1920864     NaN
Name: date_diff, Length: 864120, dtype: float64

In [62]:
cthall['date_diff'].unique()

array([  28.,   nan,   11.,    6.,   38.,    0.,    5.,   -6.,   30.,
         20.,   17.,  126.,   56.,   49.,   14.,   12.,    3.,   51.,
         33.,   35.,    2.,   50.,   19.,    9.,   26.,    1.,   25.,
         47.,   22.,   64.,   58.,   16.,   27.,  100.,   31.,   39.,
         85.,   45.,   21.,   24.,   23.,   60.,   52.,   55.,   29.,
         34.,   40.,   18.,   71.,   42.,    7.,   57.,  -11.,   84.,
         93.,  -16.,   75.,   48.,   69.,    4.,   80.,   15.,  128.,
         -3.,   70.,   79.,   68.,   74.,   13.,   92.,   32.,    8.,
         59.,   44.,  417.,   36.,   37.,  117.,   -2.,   76.,  194.,
        148.,   41.,   54.,  104.,   10.,  103.,   65.,   91.,   43.,
         46.,   99.,  113.,   -4.,  160.,  -18.,  127.,  208.,   86.,
         98.,   63.,  135.,  175.,   67.,   61.,  112.,  106.,  107.,
         88.,   53.,  118.,   81.,   62.,   -9.,   77.,   90.,  124.,
        102.,  105.,  120.,   -1.,   83.,   78.,   -5.,  153.,  133.,
         82.,  154.,   72.,   87.,  101.,   73.,  116.,  168.,  206.,
        -24.,   66.,  137.,  166.,  131.,  416.,  182.,   89.,  110.,
        149.,   94.,  134., -253.,  -13.,  129.,  181.,   97.,  210.,
        147.,  209.,  114.,  140.,  173.,  -38.,  136.,   95.,  162.,
        152.,  108.,  132.,  178.,  111.,  138.,  150.,  123., -294.,
        159.,  109.,  176.,  171.,  415.,  -82.,  169.,  167.,   96.,
        119.,  180.,  121.,  130.,  156.,  185.,  -14.,  419.,  125.,
        -33.,  142.,  183.,  158.,  143.,  145.,  179.,  115.,  164.,
        184., -285.,  408.,  407.,  122.,  146.,  -30.,  -12.,   -7.,
        -23.,  393.,  -36.,  -10.,  139.,  141.,  367.,  163., -104.,
        157.,  -29.,  -35.,  -37.,  202.,  398.,  -26.,  170.,  172.,
       -162., -212.,  412., -275.,  187.,  368.,  177.,  -42.,   -8.,
       -160.,  385.,  195.,  151.,  155.,  190.,  -15., -257.,  144.,
       -255.,  165.,  207.,  199.,  197.,  -34.,  174., -115., -223.,
        -21.,  201.,  411.,  406.,  402.,  191.,  186.,  203., -175.,
        161.,  -50.,  -19.,  188., -128.,  399.,  371.,  410.,  369.,
       -293.,  -31.,  384., -302., -336., -237., -148., -268.,  383.,
       -337., -286.,  390.,  394.,  397.,  204., -220.,  377.,  -20.,
        388.,  409.,  -48.,  381.,  418., -169.,  -17.,  205.,  196.,
        395., -185., -250.,  200., -186.,  -74., -240.,  -45.,  -61.,
        189.,  -25.,  -32.,  373., -288.,  -70., -249., -267.,  -47.,
       -114.,  391., -280., -211., -134., -113., -108., -238., -345.,
       -197.,  413.,  370.,  193.,  198., -259., -143., -139., -310.,
       -291., -203.,  386., -176.])

In [16]:
# 코로나 사회적거리두기기간에 코로나단계 파생변수 생성
# 코로나 사회적거리두기기간 20200322 ~ 20220418
# def sep_social_d(date_a,date_b, level):
    # a = df_covid.query( (" {} <= tran_date <= {} ").format(date_a , date_b) )
    # a['covid_social_sep_level'] = level
    # return a

In [17]:
# def covid_sep(df):
#     if 20200816<= df["tran_date"] <= 20200829 :
#         return 2
#     elif 20200830<= df["tran_date"] <= 20200913:
#         return 2.5
#     elif 20200914<= df["tran_date"] <=20200927 :
#         return 2
#     elif 20201012<= df["tran_date"] <=20201123 :
#         return 1
#     elif 20201124<= df["tran_date"] <=20201207 :
#         return 2
#     elif 20201208<= df["tran_date"] <=20210214 :
#         return 2.5
#     elif 20210215<= df["tran_date"] <=20210614 :
#         return 2
#     elif 20210712<= df["tran_date"] <=20211003 :
#         return 4
#     else:
#         return 0

In [18]:
# cthall['covid_sep'] = cthall.apply(covid_sep, axis=1)

C:\Users\Admin\AppData\Local\Temp\ipykernel_696\585653982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cthall['covid_sep'] = cthall.apply(covid_sep, axis=1)

In [63]:
cthall = cthall.drop(['age', 'gender','membership_type_1', 'membership_type_2','membership_type_3',\
                      'membership_type_4','membership_type_5', 'membership_type_6','ticket_cancel',\
                      'discount_type','place', 'play_st_time','intermission', 'discount'], axis=1)
#ticket_cancel과 discount_type은 원데이터 전처리에서 컬럼제거를 할 것인가?

In [64]:
cthall.to_csv("./merge_cutrow.csv")

In [65]:
cthall.info()

<class 'pandas.core.frame.DataFrame'>
Index: 864120 entries, 4 to 1920864
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tran_date         864120 non-null  datetime64[ns]
 1   tran_time         864120 non-null  int64
 2   play_date         864120 non-null  int64
 3   seat              864120 non-null  object
 4   price             864120 non-null  int64
 5   performance_code  864120 non-null  int64
 6   pre_open_date     541247 non-null  datetime64[ns]
 7   open_date         864120 non-null  datetime64[ns]
 8   genre             843988 non-null  object
 9   running_time      864120 non-null  int64
 10  member_yn         864120 non-null  object
 11  time              864120 non-null  object
 12  floor             864120 non-null  object
 13  zone              864120 non-null  object
 14  col               864120 non-null  object
 15  ori_price         864120 non-null  float64
 16  date_diff         541247 non-null  float64
dtypes: datetime64[ns](3), float64(2), int64(5), object(7)
memory usage: 118.7+ MB

In [66]:
cthall_no_covid = cthall[(cthall['play_date'] > 20220415) | (cthall['play_date'] <= 20200229)]
cthall_covid = cthall[(cthall['play_date'] < 20220415) & (cthall['play_date'] > 20200229)]

In [67]:
cthall_no_covid.to_csv("./cthall_no_covid.csv")
cthall_covid.to_csv("./cthall_covid.csv")

In [68]:
cthall_covid.shape

(181797, 17)

In [69]:
cthall_no_covid.shape

(682323, 17)